.button-wrapper {
  background-color: var(--blue);
  font-weight: 600;
  width: fit-content;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  min-width: 9rem;
  text-align: center;
}

.button-wrapper p {
  color: var(--white);
  font-weight: 600;
  margin: 0;
}

.button-wrapper:hover {
  box-shadow: 4px 4px 15px rgba(58, 128, 233, 0.5);
  transition: all 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .button-wrapper p {
    font-size: 80%;
  }
}
