.coin-box {
  background-color: var(--darkgrey);
  width: 300px;
  height: 300px;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.logo-div {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo {
  width: 20%;
  margin-right: 1rem;
}

.symbol {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
}

.name {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-top: 0.2rem !important;
}
