.tabs-wrapper {
  width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-flex {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .grid-flex {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
