@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800&display=swap");

:root {
  --blue: #3a80e9;
  --white: #ffffff;
  --black: #111;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* var(--black) == #111 */
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--white);
}

td {
  text-align: left !important;
  width: 18%;
}

.data-list-div {
  background-color: var(--darkgrey);
  margin: 1rem 3rem;
  padding: 1rem;
  border-radius: 1rem;
}

.data-list-div h2 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.data-list-div a {
  text-decoration: underline;
}

/* .data-list-div a:hover {
  color: var(--blue);
} */

@media only screen and (max-width: 800px) {
  p {
    font-size: 80%;
  }

  .data-list-div {
    margin: 0.8rem 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
